.vs
./.vs
/.vs
*.csproj.user
/TP4-TORNEOS/bin
/TP4-TORNEOS/obj
TP4-TORNEOS/bin
TP4-TORNEOS/obj
./TP4-TORNEOS/bin
./TP4-TORNEOS/obj
/TP4-TORNEOS/bin/
/TP4-TORNEOS/obj/
TP4-TORNEOS/bin/
TP4-TORNEOS/obj/
./TP4-TORNEOS/bin/
./TP4-TORNEOS/obj/
./TP4-TORNEOS/db/P_4copia.s3db
/TP4-TORNEOS/db/P_4copia.s3db
TP4-TORNEOS/db/P_4copia.s3db
